.container {
  display: grid;
  grid-template-columns: auto minmax(200px, 1000px) auto;
}
.imageContainer {
  display: flex;
  justify-content: center;
}
.image {
  max-width: 100%;
  padding: 1em;
  border: 1px black solid;
}
.textHeading {
  text-align: center;
  font-weight: bold;
  padding: 1em;
}
.text {
  padding: 1em;
  text-align: center;
}
